{{#each trips as |trip|}}
<div class="row">

    <div class="row userInput">
        <h3 class="destination">
            <a href="/Trip/{{Trip.id}}">Trip from {{location}} to {{destination}} on {{startDate}} - {{endDate}} by {{trip.user.username}} on {{format_date postDate}} .</a>
            <a href="/Trip/{{Trip.id}}">Trip has a price range of {{Trip.price}} .</a>
        </h3>
    </div>

    <div class="row tripData">
        {{trip.trip}}
    </div>
    
</div>
<div class="row" id="gMap">
    <div class="col s7 searchResults" id="map">
    </div>
    <div class="col s5">
        <div class="row">
            <div>
                <ul>
                    <li id="depart1"></li>
                    <li id="depart2"></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li id="return1"></li>
                    <li id="return2"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{/each}}


<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAigt9WzHgkJnidN6iEN2Uq0KMSEo8lef0&callback=initMap" defer></script>
<script type = "module" src="/js/myTrip.js"></script>
<script type = "module" src="/js/utils.js"></script>